<a href="https://colab.research.google.com/github/gayathrig21/gayathrig21/blob/main/Gayathri_PGP_16th_March'23_%7C_Data_Science_Assessment_%7C_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><img src="https://github.com/insaid2018/Term-1/blob/master/Images/INSAID_Full%20Logo.png?raw=true" width="240" height="100" /></center>

**<center><h1>PGP J.G. | Data Science Assessment | Questions</h3></center>**

---
## **Data Science Assessment**
---

  - #### [**Question 1**](#Section1)<br>
  - #### [**Question 2**](#Section2)<br>
  - #### [**Question 3**](#Section3)<br>

---
## **Questions**
---

In [ ]:
# Importing Required Libraries
import pandas as pd
import numpy as np

---
## **Dataset - 1**


The dataset contains information about daily sales of a wholesale website, that ships thier products in huge bulks.

Features:

|Feature| Description|
|----|----|
|Date| Timestamp of the order placed|
|Value|Total Value of the order|
|id|Identifier of the product to be shipped|

In [ ]:
# Import the Data
df1_sale = pd.read_csv('https://gitlab.com/academics3/insaid-data/-/raw/main/PGP%20Job%20G%20Session%20Repo/2023/15March23/DatasetOne.csv')

# Shape and First Look
print(f"The shape of the dataset: {df1_sale.shape}\n")
df1_sale.head()

The shape of the dataset: (1000, 3)

                  Date   Value  product_id
0  2021-01-01 15:00:55  184791         624
1  2021-01-01 18:20:21  141293         334
2  2021-01-01 18:38:15  180246         154
3  2021-01-01 22:04:54  261589         835
4  2021-01-02 19:23:08  203725         374

<a name = Section1></a>
## **Question 1:**

- Given The **Dataset - 1**

- Calculate the **Percentage Month-over-Month** change in **Revenue.** 

- The output should include:  

  - The **Year-Month Date (YYYY-MM)**

  - **Percentage change**, rounded to the **2nd decimal point**

  - The **Data should be sorted** from the **beginning of the year to the end** of the year.

- The **percentage change column** will be populated from the **2nd month forward** and can be **calculated** as 

    
    ((this month's revenue - last month's revenue) / last month's revenue)*100

In [ ]:
df1_sale.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1000 non-null   object
 1   Value       1000 non-null   int64
 2   product_id  1000 non-null   int64
dtypes: int64(2), object(1)
memory usage: 23.6+ KB

In [ ]:
df1_sale=df1_sale.drop(['product_id'], axis=1)

In [ ]:
df1_sale['Date']=pd.to_datetime(df1_sale['Date']).dt.strftime('%Y-%m')

In [ ]:
df1_sale.head(3)

      Date   Value
0  2021-01  184791
1  2021-01  141293
2  2021-01  180246

In [ ]:
df1_sale.set_index('Date', inplace=True)

In [ ]:
df1_sale.head(3)

          Value
Date
2021-01  184791
2021-01  141293
2021-01  180246

In [ ]:
df1_sale=df1_sale.groupby('Date').sum()

In [ ]:
df1_sale.head(5)

            Value
Date
2021-01  16496631
2021-02  13762247
2021-03  16204363
2021-04  12366428
2021-05  19061145

In [ ]:
df2_sale=df1_sale.shift(periods=1)

In [ ]:
df2_sale.head(5)

              Value
Date
2021-01         NaN
2021-02  16496631.0
2021-03  13762247.0
2021-04  16204363.0
2021-05  12366428.0

In [ ]:
df3_sale=pd.merge(df1_sale, df2_sale, on='Date')

In [ ]:
df3_sale.head(3)

          Value_x     Value_y
Date
2021-01  16496631         NaN
2021-02  13762247  16496631.0
2021-03  16204363  13762247.0

In [ ]:
df3_sale['percentage_change']=round(((df3_sale['Value_x']-df3_sale['Value_y'])/df3_sale['Value_y'])*100,2)

In [ ]:
df3_sale

          Value_x     Value_y  percentage_change
Date
2021-01  16496631         NaN                NaN
2021-02  13762247  16496631.0             -16.58
2021-03  16204363  13762247.0              17.75
2021-04  12366428  16204363.0             -23.68
2021-05  19061145  12366428.0              54.14
2021-06  19200669  19061145.0               0.73
2021-07  19477271  19200669.0               1.44
2021-08  16213825  19477271.0             -16.76
2021-09  21338617  16213825.0              31.61
2021-10  15346198  21338617.0             -28.08
2021-11  14648039  15346198.0              -4.55
2021-12  13445931  14648039.0              -8.21

---
## **Dataset - 2**

The Dataset contains requested uber drivers and the status whether those rides were accepted or not. 

It also includes data about the distance of the requested drive and the price of the expected drive.

Features:

|Feature| Description|
|----|----|
|Request_Date| Timestamp of the Request|
|Request_Status|Status of the Requested Ride|
|Distance_To_Travel|The distance of the Requested Ride|
|Value|Price of the Ride to be Paid|

In [ ]:
# Import the Data
df1_uber = pd.read_csv('https://gitlab.com/academics3/insaid-data/-/raw/main/PGP%20Job%20G%20Session%20Repo/2023/15March23/DatasetTwo.csv')

# Shape and First Look
print(f"The shape of the dataset: {df1_uber.shape}\n")
# Import the Data
df1_uber.head()

The shape of the dataset: (1249, 4)

          Request_Date Request_Status  Distance_To_Travel  Value
0  2022-01-01 18:22:36        success               62.80  57.91
1  2022-01-02 01:17:29           fail               80.91  20.82
2  2022-01-02 02:49:51        success               45.80  29.47
3  2022-01-02 12:16:29        success               51.62  69.62
4  2022-01-02 13:08:27           fail              105.85  24.66

<a name = Section2></a>
## **Question 2:**

**Background:** 
- Some forecasting methods are extremely simple and surprisingly effective.  

- Naïve forecast is one of them, we simply set all forecasts to be the value of the last observation.  

- Our goal is to develop a naïve forecast for a new metric called "distance per dollar" defined as:  

    
    (distance_to_travel/monetary_cost)

**Problem:**

- To develop this forecast,  sum **"distance to travel"  and "monetary cost"** values at a **monthly level** before calculating **"distance per dollar".** 

- This value becomes your **actual value for the current month.** 

- The next step is to populate the **forecasted value** for each month. This can be achieved simply by getting the previous month's value in a separate column. 

- Now, we have **actual and forecasted values.** This is your **naïve forecast.** 

- Let’s evaluate our model by calculating an error matrix called **Root Mean Squared Error (RMSE).** 

**Note:**

RMSE is defined as 

    sqrt(mean(square(actual - forecast))

Report out the RMSE rounded to the 2nd decimal spot.

In [ ]:
df1_uber['Request_Date']=pd.to_datetime(df1_uber['Request_Date']).dt.strftime('%Y-%m')

In [ ]:
df1_uber.set_index('Request_Date', inplace=True)

In [ ]:
df1_uber=df1_uber.groupby('Request_Date').sum()

In [ ]:
df1_uber['Actual_Distance_per_Dollar']=df1_uber['Distance_To_Travel']/df1_uber['Value']

In [ ]:
df1_uber=df1_uber.drop(['Distance_To_Travel',	'Value'], axis=1)

In [ ]:
df1_uber

              Actual_Distance_per_Dollar
Request_Date
2022-01                         1.521862
2022-02                         1.472599
2022-03                         1.426017
2022-04                         1.529633
2022-05                         1.409824
2022-06                         1.467478
2022-07                         1.482493
2022-08                         1.474181
2022-09                         1.380764
2022-10                         1.378384
2022-11                         1.513148
2022-12                         1.446308

In [ ]:
df2_uber=df1_uber.shift(periods=1)

In [ ]:
df2_uber

              Actual_Distance_per_Dollar
Request_Date
2022-01                              NaN
2022-02                         1.521862
2022-03                         1.472599
2022-04                         1.426017
2022-05                         1.529633
2022-06                         1.409824
2022-07                         1.467478
2022-08                         1.482493
2022-09                         1.474181
2022-10                         1.380764
2022-11                         1.378384
2022-12                         1.513148

In [ ]:
df3_uber=pd.merge(df1_uber, df2_uber, on='Request_Date')

In [ ]:
df3_uber.rename(columns = {'Actual_Distance_per_Dollar_x':'Actual_Distance_per_Dollar','Actual_Distance_per_Dollar_y':'Forecasted_Distance_per_Dollar'}, inplace = True)

In [ ]:
df3_uber

              Actual_Distance_per_Dollar  Forecasted_Distance_per_Dollar
Request_Date
2022-01                         1.521862                             NaN
2022-02                         1.472599                        1.521862
2022-03                         1.426017                        1.472599
2022-04                         1.529633                        1.426017
2022-05                         1.409824                        1.529633
2022-06                         1.467478                        1.409824
2022-07                         1.482493                        1.467478
2022-08                         1.474181                        1.482493
2022-09                         1.380764                        1.474181
2022-10                         1.378384                        1.380764
2022-11                         1.513148                        1.378384
2022-12                         1.446308                        1.513148

In [ ]:
rmse= np.sqrt(np.mean(np.square(df3_uber['Actual_Distance_per_Dollar'] - df3_uber['Forecasted_Distance_per_Dollar'])))

In [ ]:
rmse

0.07667354641219239

---
## **Dataset - 3**

The Dataset contains requested uber drivers and the status whether those rides were accepted or not. 

It also includes data about the distance of the requested drive and the price of the expected drive.

Features:

|Feature| Description|
|----|----|
|Request_Date| Timestamp of the Request|
|Request_Date|Status of the Requested Ride|
|Distance_To_Travel|The distance of the Requested Ride|
|Value|Price of the Ride to be Paid|

In [ ]:
# Import the Dataset - 1
download_records = pd.read_csv('https://gitlab.com/academics3/insaid-data/-/raw/main/PGP%20Job%20G%20Session%20Repo/2023/15March23/DatasetThree-a.csv')

# Shape and First Look
print(f"The shape of the dataset: {download_records.shape}\n")
download_records.head()

The shape of the dataset: (586, 3)

                  Date  user_id  downloads
0  2022-08-09 15:02:07      564          3
1  2022-10-05 21:08:20       41          6
2  2022-10-21 22:09:27      178         11
3  2022-10-05 22:06:05      430          8
4  2022-09-28 06:22:45      446          8

In [ ]:
download_records.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586 entries, 0 to 585
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       586 non-null    object
 1   user_id    586 non-null    int64
 2   downloads  586 non-null    int64
dtypes: int64(2), object(1)
memory usage: 13.9+ KB

In [ ]:
# Import the Dataset - 2
user_to_acc = pd.read_csv('https://gitlab.com/academics3/insaid-data/-/raw/main/PGP%20Job%20G%20Session%20Repo/2023/15March23/DatasetThree-b.csv')

# Shape and First Look
print(f"The shape of the dataset: {user_to_acc.shape}\n")
user_to_acc.head()

The shape of the dataset: (586, 2)

   user_id  acc_id
0        1     837
1        2     722
2        3     702
3        4     711
4        5    1040

In [ ]:
user_to_acc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586 entries, 0 to 585
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  586 non-null    int64
 1   acc_id   586 non-null    int64
dtypes: int64(2)
memory usage: 9.3 KB

In [ ]:
# Import the Dataset - 3
acc_to_pay = pd.read_csv('https://gitlab.com/academics3/insaid-data/-/raw/main/PGP%20Job%20G%20Session%20Repo/2023/15March23/DatasetThree-c.csv')

# Shape and First Look
print(f"The shape of the dataset: {acc_to_pay.shape}\n")
acc_to_pay.head()

The shape of the dataset: (373, 2)

   acc_id paying_customer
0     837              No
1     722              No
2     702             Yes
3     711              No
4    1040              No

In [ ]:
acc_to_pay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   acc_id           373 non-null    int64
 1   paying_customer  373 non-null    object
dtypes: int64(1), object(1)
memory usage: 6.0+ KB

<a name = Section3></a>
## **Question 3:**

- Find the **Total Number of Downloads** for **paying and non-paying users by date.**

- Include only records where **non-paying customers have more downloads** than paying customers. 

- The output should be sorted by **earliest date first and contain 3 columns date, non-paying downloads, paying downloads.**

In [ ]:
df1=pd.merge(user_to_acc,acc_to_pay,on='acc_id',how='left')

In [ ]:
df2 = pd.merge(download_records,df1,on='user_id')

In [ ]:
df2

                    Date  user_id  downloads  acc_id paying_customer
0    2022-08-09 15:02:07      564          3     950              No
1    2022-10-05 21:08:20       41          6    1261              No
2    2022-10-15 22:31:29       41          9    1261              No
3    2022-10-21 22:09:27      178         11    1275              No
4    2022-10-05 22:06:05      430          8    1201             Yes
..                   ...      ...        ...     ...             ...
581  2022-08-03 22:45:56      228          2     785             Yes
582  2022-10-06 18:45:59      278          6     745             Yes
583  2022-09-27 06:58:25      315          8    1042              No
584  2022-09-21 11:25:59      302          6     804              No
585  2022-10-06 21:42:37      370          5    1189             Yes

[586 rows x 5 columns]

In [ ]:
df2['Date']=pd.to_datetime(df2['Date']).dt.strftime('%Y-%m-%d')

In [ ]:
df2.set_index('Date',inplace=True)

In [ ]:
df2=df2.sort_values(by='Date', ascending=True)

In [ ]:
df2.head()

            user_id  downloads  acc_id paying_customer
Date
2022-08-01      326          6     906             Yes
2022-08-01       57          5     744              No
2022-08-01       71         10    1099             Yes
2022-08-01      354          4     886             Yes
2022-08-01      194          5    1116             Yes

In [ ]:
df2=df2.drop(['acc_id','user_id'],axis=1)

In [ ]:
df2.head()

            downloads paying_customer
Date
2022-08-01          6             Yes
2022-08-01          5              No
2022-08-01         10             Yes
2022-08-01          4             Yes
2022-08-01          5             Yes

In [ ]:
df_paying_customers= df2[df2['paying_customer']=='Yes']

In [ ]:
df_paying_customers.head(5)

            downloads paying_customer
Date
2022-08-01          6             Yes
2022-08-01         10             Yes
2022-08-01          4             Yes
2022-08-01          5             Yes
2022-08-02         10             Yes

In [ ]:
df_paying_customers=df_paying_customers.drop('paying_customer', axis=1)

In [ ]:
df_paying_customers=df_paying_customers.rename(columns={'downloads':'paying_downloads'})

In [ ]:
df_paying_customers.head(5)

            paying_downloads
Date
2022-08-01                 6
2022-08-01                10
2022-08-01                 4
2022-08-01                 5
2022-08-02                10

In [ ]:
df_paying_customers=df_paying_customers.groupby('Date').sum()

In [ ]:
df_paying_customers.shape

(89, 1)

In [ ]:
df_paying_customers.head()

            paying_downloads
Date
2022-08-01                25
2022-08-02                10
2022-08-03                38
2022-08-04                 8
2022-08-05                26

In [ ]:
df_non_paying_customers= df2[df2['paying_customer']=='No']

In [ ]:
df_non_paying_customers=df_non_paying_customers.drop('paying_customer', axis=1)

In [ ]:
df_non_paying_customers=df_non_paying_customers.rename(columns={'downloads':'non_paying_downloads'})

In [ ]:
df_paying_customers.head(5)

            paying_downloads
Date
2022-08-01                25
2022-08-02                10
2022-08-03                38
2022-08-04                 8
2022-08-05                26

In [ ]:
df_non_paying_customers=df_non_paying_customers.groupby('Date').sum()

In [ ]:
df_non_paying_customers.shape

(87, 1)

In [ ]:
df_non_paying_customers

            non_paying_downloads
Date
2022-08-01                    12
2022-08-02                     8
2022-08-03                    10
2022-08-04                    16
2022-08-05                    22
...                          ...
2022-10-27                    32
2022-10-28                     7
2022-10-29                    56
2022-10-30                    22
2022-10-31                    10

[87 rows x 1 columns]

In [ ]:
df_customers = pd.merge(df_paying_customers, df_non_paying_customers, on='Date',how='left')

In [ ]:
df_customers

            paying_downloads  non_paying_downloads
Date
2022-08-01                25                  12.0
2022-08-02                10                   8.0
2022-08-03                38                  10.0
2022-08-04                 8                  16.0
2022-08-05                26                  22.0
...                      ...                   ...
2022-10-25                13                  55.0
2022-10-26                12                   NaN
2022-10-27                17                  32.0
2022-10-28                45                   7.0
2022-10-30                20                  22.0

[89 rows x 2 columns]